<% provide(:title, "Home")%>
       <p>Hello and welcome to my website where I sell crafts that I make.
       <br><br>
      
<span class="slideshow-container">
    <span class="mySlides">
        <%= link_to image_tag("dragon.jpg", alt:"image of dragon"), root_path, class:"showimg" %>
        <span class="text">Handmade Dragon Plush</span>
    </span>    
    
    <span class="mySlides">
        <%= link_to image_tag("wing-s-g.jpg", alt:"gold wings"), root_path, class:"showimg" %>
        <span class="text">Gold shoe wings</span>
    </span>
        
    <span class="mySlides">
        <%= link_to image_tag("onshoe.jpg", alt:"on shoe wings"), root_path, class:"showimg" %>
        <span class="text">Opalesent Shoe wings</span>
    </span>
</span>
<br>

  <span class="dot" onclick="currentSlide(1)"></span> 
  <span class="dot" onclick="currentSlide(2)"></span> 
  <span class="dot" onclick="currentSlide(3)"></span> 
       
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </p>


