<% provide(:title, "Home")%>
       <p>Hello and welcome to my website where I sell crafts that I make.<br><br>
       <%= image_tag("il_570xN.1169102556_mjmy.jpg", alt:"image of dragon", class:"homeDragon") %>
       </p>
        