<% provide(:title, @user.name) %>
<p class="profile">
  <b>User Profile</b>
</p>

<p class="info">
  <%= gravatar_for @user %>
  <br>
   <b>User name: </b><%= @user.name %>
   <br>
   <b>User email: </b><%= @user.email %>
   <br><br><br>
</p>

<p class="profile">
  <b>Feed</b>

  
</p>
