@import "bootstrap-sprockets";
@import "bootstrap";
p{
    background-color:white;
    color:black;
    margin: 30px;
    padding: 10px;
}
body {
    background-color:#7F51Ff;
    text-align: center;
    background-image: url("Grunge-textures-vintage-background-vectors-06-280x235.png")
}


ul {
    list-style-type: none;
    margin: auto;
    padding: auto;
    overflow: hidden;
    background-color: black;
}
li {
    float: left;
}
li a {
   display: block;
    color: white;
    text-align: center;
    padding: 14px 60px ;
    text-decoration: none;
    
}
li a:hover{
    background-color: #5d40dd;
    text-decoration: none;
    font-weight:bold;
    color: white;
}

h1{
    
    color:white;
    font-family: "Comic Sans MS", cursive, sans-serif; 
    font-size: 50px;
    text-align:center;
    border-bottom-style:dashed;
    border-width: 5px;
    border-color: white;
    padding: 20px;
    
    margin: 5px;
}

.small img{
    width: 125px;
    text-align: center;
}